<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371381202073-vabgnkhj7dhjerfrfgnv1gtk1oghd7b1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371381202073-vabgnkhj7dhjerfrfgnv1gtk1oghd7b1</string>
	<key>API_KEY</key>
	<string>AIzaSyCDfGXR-2F-asY1Lji8xkANENYhFdcGelk</string>
	<key>GCM_SENDER_ID</key>
	<string>371381202073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmeist3r.MobillsTeste</string>
	<key>PROJECT_ID</key>
	<string>mobillsteste</string>
	<key>STORAGE_BUCKET</key>
	<string>mobillsteste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371381202073:ios:f22427a3bfe29927ab9c08</string>
</dict>
</plist>